*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

ol, ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

/* div{
    border: 1px solid black;
} */


/* wrapper */
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(15, 15, 15);
    color: white;
}


/* header */
.header{
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    z-index: 1;
}


/* logo */
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}


/* header nav */
#nav{
    width: 60%;
    padding: 30px 0;
}

#nav li a{
    color: gray;
    font-weight: bold;
}

#nav > ul{
    display: flex;
    width: 100%;
    text-align: center;
}

#nav > ul > li{
    flex: 1;
    position: relative;
}

#nav > ul > li > a > img{
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border-radius: 10%;
    filter: invert(16%) sepia(89%) saturate(6054%) hue-rotate(358deg) brightness(97%) contrast(113%);
}

#nav > ul > li a:hover{
    color: red;
}

#nav > ul > li > ul{
    display: none;
    position:absolute;
    top: 20px;
    left: 10px;
    width: 130%;
    background-color: black;
    /* padding: 20px; */
}

#nav > ul > li > ul li{
    padding: 10px 0;
    border-bottom: 1px solid gray;
}

#nav > ul li a:hover+ul{
    display: block;
    
}

#nav > ul > li > ul li a:hover{
    color: red;
}

#nav > ul li ul:hover{
    display: block;
}


/* header linkIcons */
#linkIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#linkIcons img{
    width: 32px;
    height: 32px;
    margin: 0 10px;
    border-radius: 10%;
}

#instagram{
    background-color: rgb(82, 82, 82);
    filter: opacity(1.0) drop-shadow(0 0 0 white);
}


/* content */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid red; */
    margin: 60px 0;
    /* max-width: 1440px; */
    /* background-color: white; */
}

.main-banner {
    width: 100%;
    height: 100%;
}

.main-banner img {
    width: 100%;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}


/* title */
#title{
    width: 100%;
    height: 100%;
    max-width: 1024px;
    color: white;
    padding: 20px 0;
}

#title h1{
    font-size: 48px;
    font-weight: bold;
    color: red;
}

#address a{
    color: red;
    font-weight: bold;
}


/* footer */
.footer{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    color: white;
}


/* section */
.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* sectionTop */
.footer #sectionTop{
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 20px;
}

.sectionTop-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1024px;
}

.sectionTop-content > div{
    display: flex;
    width: 100%;
}

.img-container{
    width: 74px;
    height: 74px;
    border: 2px solid red;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img-container img{
    width: 80%;
    height:80%;
    object-fit: cover;
    position: absolute;
    filter: invert(16%) sepia(89%) saturate(6054%) hue-rotate(358deg) brightness(97%) contrast(113%);
}

.img-container:hover,
.sectionTop-content > div:hover .img-container {
    border: 2px solid white;
}

.img-container:hover img,
.sectionTop-content > div:hover .img-container img {
    filter: invert(1) sepia(0) saturate(10000%) hue-rotate(0deg);
}

.sectionTop-text{
    padding: 0px 5px 0px 10px;
}

.footer .sectionTop-text a{
    color: red;
    font-weight: bold;
    font-size: 24px;
}


/* sectionMiddle */
.footer #sectionMiddle{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 20px;
}

.sectionMiddle-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;;
}

.sectionMiddle-content > div{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


/* sectionMiddle-1 */
#sectionMiddle-1{
    display: flex;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#sectionMiddle-1 div{
    display: flex;
}

#sectionMiddle-1 div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sectionMiddle-1 div div:nth-child(1){
    width: 100px;
}

#sectionMiddle-1 img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#sectionMiddle-1 div div:nth-child(2){
    display: flex;
    width: calc(100% - 100px);
}

#sectionMiddle-1 div + div span{
    color: red;
    width: 100%;
}

#sectionMiddle-1 div + div p{
    width: 100%;
}

#linkIcons{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#linkIcons img{
    width: 32px;
    height: 32px;
    margin: 0 10px;
    border-radius: 10%;
}


/* sectionMiddle-2 */
#sectionMiddle-2{
    width: 50%;
    display: flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#sectionMiddle-2 div{
    display: flex;
    width: 100%;
    align-items: center;
}

h6{
    color: red;
    font-size: 16px;
}

#sectionMiddle-2 div ul{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
    font-size: 14px;
    
}


/* sectionMiddle-3 */
#sectionMiddle-3{
    width: 20%;
    display: flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#sectionMiddle-3 div{
    display: flex;
    width: 100%;
    align-items: center;
}


/* sectionBottom */
.footer #sectionBottom{
    background-color: red;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

.sectionBottom-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
}

.sectionBottom-content > div{
    font-size: 13px;
}